

{{> head}}

{{> navbar }}  <!--llamo  navbar-->

<div class="row">
    <div class="col-8">
      <h1>Estefany yurani Tulcán Diaz</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sint iusto ipsum temporibus. Sit, quos magni repellat repellendus quisquam facilis obcaecati iure pariatur a error deserunt, eveniet minus consequatur facere.
      </p>
    </div>

    <div class="col-4">
      <img src="assets/img/yo.jpeg" class="img-thumbnail">

    </div>
</div>

{{> footer}}
